.navbar {
    background: linear-gradient(to right, #0059ff, #000066);
}

.navbar-brand {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.search-header {
    font-weight: 700;
    font-size: 25px;
}

.city-name {
    font-size: 35px;
}

.forecast-date {
    font-size: 20px;
}

.col-12 {
    font-weight: 700;
}
.form-control {
cursor: pointer;
}